# Topic: print()


1 - Using the python print function print any string value, integer value, boolean value, float value in single print command

In [3]:
# type your code here
print("my name is ali",  25, True, 3.14)

my name is ali 25 True 3.14


2- Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
# type your code here
print("my name is Ali", 25, True, 3.14, sep="-")

my name is Ali-25-True-3.14

3 - Using the python print function print any string value, integer value, boolean value, float value in separate print command. But every value must be space separated and in single line

In [1]:
# type your code here
print("my name is ali\t25\tTrue\t3.14")

my name is ali	25	True	3.14

4 - Can a python print function take no value to print???

In [7]:
# type your code here
print()#yes python can take no value to print

# TOPIC :Variables in Python Operators


One of my friends name is Mr. Ahmed. He is 30 years old. He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015. He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [8]:
# type your code here
name = "Mr. Ahmed"
age = 30
profession = "Lawyer"
degree = "Bachelors in Law"
graduation_year = 2005
law_firm = "The Himalya Associates"
city = "Karachi"
working_since = 2015
height_feet = 5.10
weight_grams = 70600
monthly_income_pkr = 200000
handsome = True

2)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [16]:
# type your code here
c_year = 2025
b_year = 2005

t_years = c_year - b_year

print('Mr. Ahmed years after his bachelors degree:',t_years)

Mr. Ahmed years after his bachelors degree: 20

3)How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [18]:
# type your code here

c_year = 2025
j_year = 2015

firm_year = c_year - j_year

print('Mr. Ahmed years of working with the law firm:', firm_year )

Mr. Ahmed years of working with the law firm: 10

3)Convert the monthly income of Mr. Ahmed in dollars. Create necesary variables and print the income in dollars.

In [19]:
# type your code here

montly_income_pkr = 200000
exchange_rate = 285  

monthly_income_usd = montly_income_pkr / exchange_rate

print('Mr. Ahmed monthly income in USD:', monthly_income_usd)

Mr. Ahmed monthly income in USD: 701.7543859649123

4)Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [3]:
# type your code here

montly_income_pkr = 200000
exchange_rate = 285

monthly_income_usd = montly_income_pkr / exchange_rate

if instance(monthly_income_usd, float):
    monthly_income_usd = int(monthly_income_usd)

print('Mr. Ahmed monthly income in USD (integer):', monthly_income_usd)

NameError: name 'instance' is not defined

5) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [23]:
# type your code her
weight_grams = 70600
weight_kg=weight_grams/1000
print('weight of Mr ahmed in kg:',weight_kg)

weight of Mr ahmed in kg: 70.6

6) print the year of birth of Mr. Ahmed.

In [24]:
# type your code her

c_year = 2025
age = 30

birth_year = c_year - age

print('Mr. Ahmed year of birth:', birth_year)

Mr. Ahmed year of birth: 1995